{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
 #}
 {%
 	set classes = [
 	'image',
 	style_name ? 'image-style-' ~ style_name|clean_class,
 	]
 	%}
 	<img{{ attributes.addClass(classes) }} />
