@font-face {
	font-family: 'FuturistFixedwidth';
	src: url('/themes/custom/fisheye_theme/font/FuturistFixedWidthRegular.ttf') format('truetype');
}

@font-face {
	font-family: "CenturyGothic";
	src: url('/themes/custom/fisheye_theme/font/07558_CenturyGothic.ttf') format('truetype');
}

body {
	width: 100%;
	background-image: url("/themes/custom/fisheye_theme/images/bg.png");
	background-size: 280%;
	@include breakpoint(medium) {
		background-size: 200%;
	};
	@include breakpoint(large) {
		background-size: auto;
	};
}

.menu-item {
	color: white;
}

.menu-item a {
	text-decoration:none;
	color: white;
}

.menu-item a:visited {
	text-decoration:none;
	color: white;
}

.menu-item a:hover {
	text-decoration:none;
	color: #7c7169;
}

ul.menu a.is-active {
	text-decoration:none;
	color: #7c7169;
}

.mainheader{
	display: flex;
	justify-content: center;
}

.maincontent {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainmain {
	padding-top: 40px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'FuturistFixedwidth';
	color:white;
	font-weight: 100;
	font-style: normal;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(29, 29, 29, 0.8);

	@include breakpoint(medium) {
		width: 80%;
		font-size: 120%;
	};
	@include breakpoint(large) {
		font-size: 140%;
		width: 55%;
	};
}

.mainheader-home-img{
	margin-top: 25%;
	margin-bottom: 13%;
	width: 80%;
	margin-left: 10%;

	@include breakpoint(medium) {
		margin-top: 15%;
		margin-bottom: 10%;
		width: 60%;
		margin-left: 18%
	};

	@include breakpoint(large) {
		margin-top: 2%;
		margin-bottom: 20px;
		width: 45%;
		margin-left: 28%;
	};
}

ul.menu {
	margin-left: 0;
}

.menu {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	color:white;
}

.menu-item {

}

.menu a {
	padding: 0;
}

.festheader-home-img-large{
	width: 6.5em;
	position: fixed;
	left: 5px;
	top: 6px;
}

.festheader-home-img-medium{
	width: 3em;
	position: fixed;
	left: 7px;
	top: 7px;
}

.festheader-home-img-small {
	width: 5.5em;
	position: fixed;
	left: 5px;
	top: 6px;
	z-index: 0;
}


.festheader {
	z-index: 50;
	position: fixed;
	top:0px;
	width: 100%;
	display:flex;
	padding-top: 25px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'FuturistFixedwidth';
	color:white;
	font-weight: 100;
	font-style: normal;
	margin-left: auto;
	margin-right: auto;
	background-color: #252525;

	@include breakpoint(medium) {
		font-size: 120%;
	};
	@include breakpoint(large) {
		font-size: 140%;
	};
}

.festnav {
	@include breakpoint(medium) {
		margin-left:auto;
		margin-right: 14%;
		width: 72%;
		font-size: 85%;
	};
	@include breakpoint(900px) {
		margin-left:auto;
		margin-right: 14%;
		width: 72%;
		font-size: 82%;
	}
	@include breakpoint(1050px) {
		margin-left:auto;
		margin-right: 14%;
		width: 73%;
	}
	@include breakpoint(large) {
		font-size: 90%;
		margin-left:auto;
		margin-right: 25%;
		width: 50%;
	};
	@include breakpoint(1600px) {
		font-size: 95%;
		margin-left:auto;
		margin-right: 25%;
		width: 50%;
	};

}

.festmain {
	z-index: 1;
	text-align: justify;
	font-family: "CenturyGothic";
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 45px;
	padding-right: 45px;
	color:black;
	font-size: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.66);

	@include breakpoint(medium) {
		font-size: 100%;
		width: 80%;
	};
	@include breakpoint(large) {
		font-size: 100%;
		width: 55%;
	};
}

.field--name-field-date {
	color: #7c7169;
	padding-top:40px;
	padding-bottom: 40px;
}

.field--name-field-title {
	font-size: 150%;
}

.field--name-field-subtitle {
	font-size: 150%;
}

.field--name-field-location {
	font-size: 150%;
}


.field--name-field-title1 {
	font-family: 'FuturistFixedwidth';
	margin-top:10px;
	margin-bottom:5px;
	text-transform: uppercase;
	font-size: 130%;
	margin-top:60px;

	@include breakpoint(medium) {
		margin-top:70px;
	};
}

.field--name-field-title2 {
	font-family: 'FuturistFixedwidth';
	text-transform: uppercase;
	font-size: 130%;
}

.field--name-field-title3 {
	font-family: 'FuturistFixedwidth';
	text-transform: uppercase;
	font-size: 130%;
}

.blog-post-title {
	font-family: 'FuturistFixedwidth';
	margin-top:10px;
	margin-bottom:5px;
	text-transform: uppercase;
	font-size: 110%;
	margin-top:60px;
	color:black;

	@include breakpoint(medium) {
		margin-top:80px;
	};
}

.node-title {
	font-family: 'FuturistFixedwidth';
	margin-bottom:10px;
	text-transform: uppercase;
	font-size: 150%;
	margin-top:60px;
	color:black;
	text-align: left;


	@include breakpoint(medium) {
		margin-top:70px;
	};
}

.contact-message-feedback-form{
	margin-top:60px;

	@include breakpoint(medium) {
		margin-top:80px;
	};
}

.node-link {
	text-decoration:none;
	color: black;
}

.node-link:visited {
	text-decoration:none;
	color: black;
}

.node-link:hover {
	text-decoration:none;
	color: #7c7169;
}


.offcanvas-full-screen {
	position: fixed;
	z-index: 1;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: rgba(29,29,29,0.95);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	overflow-y: auto;
}

[data-whatinput='mouse'] .offcanvas-full-screen {
	outline: 0;
}

.offcanvas-full-screen.is-transition-overlap {
	z-index: 10;
}

.offcanvas-full-screen.is-transition-overlap.is-open {
	box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
}

.offcanvas-full-screen.is-open {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.offcanvas-full-screen.is-open ~ .off-canvas-content {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}

.offcanvas-full-screen.is-transition-push::after {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 1px;
	box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
	content: " ";
}

.offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.offcanvas-full-screen-inner {
	padding: 1rem;
	text-align: center;
}

.offcanvas-full-screen-menu {
	margin: 0;
	list-style-type: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.offcanvas-full-screen-menu > li {
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

[data-whatinput='mouse'] .offcanvas-full-screen-menu > li {
	outline: 0;
}

.offcanvas-full-screen-menu > li > a {
	display: block;
	padding: 0.7rem 1rem;
	line-height: 1;
}

.offcanvas-full-screen-menu input,
.offcanvas-full-screen-menu select,
.offcanvas-full-screen-menu a,
.offcanvas-full-screen-menu button {
	margin-bottom: 0;
}

.offcanvas-full-screen-menu > li {
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.offcanvas-full-screen-menu > li > a {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.offcanvas-full-screen-menu a {
	color: #fefefe;
}

.offcanvas-full-screen-menu a:hover {
	color: #7c7169;
}

.offcanvas-full-screen-close {
	color: #fefefe;
	font-size: 5rem;
}

.offcanvas-full-screen-close:hover {
	color: #7c7169;
}


.burger-menu {
	font-family: 'FuturistFixedwidth';
	font-size: 150%;
	position:fixed;
	top:20px;
	right:20px;
}

.burger-menu-content {
	z-index: 50;
	font-family: 'FuturistFixedwidth';
	font-size: 150%;
	position:fixed;
	top:10px;
	right:20px;
}

.offcanvas-item {
	margin-top:10px;
	margin-bottom:10px;
}

.menu-icon {
	width:25px;
	height:25px;
}

.image {
	margin-top:20px;
	width: 75%;
	margin-left: 13%;
	@include breakpoint(medium) {
		width: 60%;
		margin-left: 20%;
	};
}

img {
	width:100%;
	margin:auto;
	padding-bottom: 20px;
	@include breakpoint(medium) {
		width: 50%;
	};
}


.md-tabs {
	margin-top:45px;
	background: transparent;
}

.md-tabs > .mobile-nav-bar {
	background-color: transparent;
	margin-bottom: 15px;
}

.md-tabs > .mobile-nav-bar .title-bar-text {
	font-size: 26px;
}

.md-tabs > .mobile-nav-bar a {
	color: #fefefe;
}

.md-tabs > .tabs {
	margin: 0;
	border: 0;
	list-style-type: none;
	display: table;
	width: 100%;
}

.md-tabs > .tabs > .tabs-title {
	display: table-cell;
	width: 100%;
	text-align: center;
	display: inline-block;
	@include breakpoint(medium) {
		width: 32.4%;
	};
	@include breakpoint(large) {
		width: 32.5%;
	};
}

.md-tabs > .tabs > .tabs-title.is-active > a {
	font-weight: bold;
	color: #252525;
	background-color: transparent;
	outline: none;
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(1) ~ .slide {
	left: calc((100% / 3) * 0);
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(2) ~ .slide {
	left: calc((100% / 3) * 1);
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(3) ~ .slide {
	left: calc((100% / 3) * 2);
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(4) ~ .slide {
	left: calc((100% / 3) * 3);
}

.md-tabs > .tabs > .tabs-title > a {
	color: black;
	font-size: 16px;
}

.md-tabs > .tabs > .tabs-title > a:hover, .md-tabs > .tabs > .tabs-title > a:focus {
	background: transparent;
}

.slide {
	background: #444;
	width: calc(99% / 3);
	height: 4px;
	position: relative;
	left: 0;
	top: 52px;
	transition: left 0.3s ease-out;
}

@media screen and (max-width: 39.9375em) {
	.slide {
		width: 0;
		height: 0;
	}
	.md-tabs > .accordion {
		margin-left: 0;
		list-style-type: none;
	}
	.md-tabs > .accordion > .accordion-item > .accordion-title {
		position: relative;
		display: block;
		padding: 1.25rem 1rem;
		border: 0;
		font-size: 0.75rem;
		line-height: 1;
		background: transparent;
		color: black;
	}
	.md-tabs > .accordion > .accordion-item > .accordion-title:hover {
		background-color: transparent;
		color: black;
		outline: none;
	}
	.md-tabs > .accordion > .is-active.accordion-item > a.accordion-title {
		border-bottom: 4px solid #444;
		color: black;
		background:transparent;
		font-weight: bold;
	}
	.md-tabs > .accordion > .accordion-item > .accordion-content {
		display: none;
		padding: 1rem;
		border-top: 0px;
		background-color: #fefefe;
		color: #0a0a0a;
	}
	> .accordion > .accordion-item > .accordion-title:focus {
		background-color: transparent;
		color: black;
		outline: none;
	}
}

.tabs-content {
	border: none;
	background: transparent;
}

.tabs {
	background: transparent;
}

.progmain {
	overflow: hidden;
	z-index: 1;
	text-align: justify;
	font-family: "CenturyGothic";
	padding-top: 20px;
	padding-right:20px;
	padding-left:20px;
	color:black;
	font-size: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.66);

	@include breakpoint(medium) {
		padding-top: 30px;
		font-size: 100%;
		width: 80%;
	};
	@include breakpoint(large) {
		padding-top: 35px;
		font-size: 100%;
		width: 55%;
	};
}

.accordion {
	background:transparent;
	background-color: transparent;
}

.md-tabs>.accordion>.accordion-item>.accordion-content {
	background:transparent; 
	border: none;
}

.tabs-panel {
	padding: 0;
	padding-bottom:20px;
}

.movie-item {
	background-color: rgba(255, 255, 255, 0.4);
	overflow: hidden;
	margin-top:20px;
}

.movie-buy {
	margin-left: 0;
	margin-right: 0;
	margin: 0 0 0 0;
}

.movie-poster {
	margin-top:10px;
	margin-left: 30%;
	margin-bottom: -10px;
	width:38%;
	@include breakpoint(medium) {
		float:left;
		margin-top:10px;
		margin-left: 10px;
		margin-bottom: -10px;
		width:38%;
	}
	@include breakpoint(895px) {
		width:40%;
	};
}

.movie-info {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: "CenturyGothic";
	width:93%;
	font-size:90%;
	@include breakpoint(medium) {
		height: 250px;
		float:left;
		margin-top:10px;
		height: 250px;
		width:55%;
		font-size:90%;
	};
	@include breakpoint(895px) {
		font-size:100%;
	};
}

.movie-title {
	font-weight:bold;
	font-size:120%;
}

.movie-resume {
	margin-top:10px;
	margin-bottom:20px;
	font-size:80%;
	font-style:italic;
	@include breakpoint(895px) {
		font-size:90%;
	};
}

.form-submit{
	background-color:#767676;
}

.form-submit:hover{
	background-color:#5e5e5e;
}

.productcontent {
	margin-top:70px;
}

a {
	color:#3D3834;
}

a:hover {
	color: #7c7169;
}

hr {
	border-bottom: 1px solid #3D3834;
}

.form-item, .form-actions {
	margin-top: 1.5em;
	margin-bottom: 0;
}

.festmain-icons{
	position: fixed;
	right: 65px;
	top: 13px;
	@include breakpoint(medium) {
		right: 20px;
		top: 20px;;
	};
}

.festmain-cart {
	width:25px;
	padding-bottom: 0;
	@include breakpoint(large) {
		width:30px;
	};
}

.festmain-user {
	width:20px;
	padding-bottom: 0;
	@include breakpoint(large) {
		width:25px;
	};
}

.main-icons{
	position: fixed;
	right: 65px;
	top: 23px;
	@include breakpoint(medium) {
		right: 20px;
		top: 20px;;
	};
}

.main-cart {
	width:25px;
	margin-right: 10px;
	padding-bottom: 0;
	@include breakpoint(large) {
		width:30px;
	};
}

.main-user {
	width:20px;
	padding-bottom: 0;
	@include breakpoint(large) {
		width:25px;
	};
}

.messages {
	margin-bottom:20px;
}

.cartmain {
	z-index: 1;
	text-align: justify;
	font-family: "CenturyGothic";
	padding-top: 110px;
	padding-bottom: 35px;
	padding-left: 45px;
	padding-right: 45px;
	color:black;
	font-size: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.66);

	@include breakpoint(medium) {
		font-size: 100%;
		width: 80%;
	};
	@include breakpoint(large) {
		font-size: 100%;
		width: 55%;
	};
}

.form-wrapper__login-option input.button {
	margin: 0 10px 0 0;
}

.checkout-pane{
	margin-top: 60px;
}

.button {
	margin: 0 10px 0 0;
}

.button:first-child, .image-button:first-child {
	margin-right: 10px;
}

.address {
	font-weight:normal;
}

.fieldset-wrapper {
	font-weight:bold;
}
