{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
 #}
 <div class="layout-container">

 	<header class="festheader" role="banner">
 		{{ page.header }}
 		<div class="burger-menu-content show-for-small-only">
 			<div data-content-overlay="false" id="offcanvas-full-screen" class="offcanvas-full-screen" data-off-canvas data-transition="overlap">
 				<div class="offcanvas-full-screen-inner">
 					<button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
 						<span aria-hidden="true">&times;</span>
 					</button>

 					<ul class="offcanvas-full-screen-menu">
 						<li class="offcanvas-item"><a href="/">accueil</a></li>
 						<li class="offcanvas-item"><a href="/festival">festival</a></li>
 						<li class="offcanvas-item"><a href="/programme">programme</a></li>
 						<li class="offcanvas-item"><a href="/contact">contact</a></li>
 					</ul>
 				</div>
 			</div>

 			<div class="off-canvas-content" data-off-canvas-content>
 				<button class="menu-icon light" type="button" data-toggle="offcanvas-full-screen"></button>
 			</div>
 		</div>

 		<div class="festheader-home">
 			<a href="http://fisheye.dev">
 				<img class="festheader-home-img-large show-for-large" src="/themes/custom/fisheye_theme/images/logo blanc.png">
 				<img class="festheader-home-img-medium show-for-medium-only" src="/themes/custom/fisheye_theme/images/eye.png">
 				<img class="festheader-home-img-small show-for-small-only" src="/themes/custom/fisheye_theme/images/logo blanc.png"
 			</a>
 		</div>
 		<div class="festmain-icons">
 			<a href="/cart">
 				<img class="festmain-cart" src="/themes/custom/fisheye_theme/images/cart.png">
 			</a>
 			<a href="/user">
 				<img class="festmain-user" src="/themes/custom/fisheye_theme/images/user.png">
 			</a>
 		</div>
 		
 		<div class="festnav hide-for-small-only">
 			{{ page.nav }}
 		</div>
 	</header>

 	<main role="main" class="festmain">

 		<div class="productcontent">
 			{{ page.content }}
 		</div>

 	</main>
 </div>{# /.layout-container #}
