{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
 #}
 <div class="layout-container">

  <header class="festheader" role="banner">
    {{ page.header }}
    <div class="burger-menu-content show-for-small-only">
      <div data-content-overlay="false" id="offcanvas-full-screen" class="offcanvas-full-screen" data-off-canvas data-transition="overlap">
        <div class="offcanvas-full-screen-inner">
          <button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>

          <ul class="offcanvas-full-screen-menu">
            <li class="offcanvas-item"><a href="/">accueil</a></li>
            <li class="offcanvas-item"><a href="/festival">festival</a></li>
            <li class="offcanvas-item"><a href="/blog">blog</a></li>
            <li class="offcanvas-item"><a href="/contact">contact</a></li>
          </ul>
        </div>
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <button class="menu-icon light" type="button" data-toggle="offcanvas-full-screen"></button>
      </div>
    </div>

    <div class="festheader-home">
      <a href="http://fisheye.dev">
        <img class="festheader-home-img-large show-for-large" src="/themes/custom/fisheye_theme/images/logo blanc.png">
        <img class="festheader-home-img-medium show-for-medium-only" src="/themes/custom/fisheye_theme/images/eye.png">
        <img class="festheader-home-img-small show-for-small-only" src="/themes/custom/fisheye_theme/images/logo blanc.png"
      </a>
    </div>
    <div class="festmain-icons">
      <a href="/cart">
        <img class="festmain-cart" src="/themes/custom/fisheye_theme/images/cart.png">
      </a>
      <a href="/user">
        <img class="festmain-user" src="/themes/custom/fisheye_theme/images/user.png">
      </a>
    </div>
    <div class="festnav hide-for-small-only">
      {{ page.nav }}
    </div>
  </header>

  <main role="main" class="progmain">

    <div class="progcontent">
      <div class="md-tabs">

        <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="collapsing-tabs" data-allow-all-closed="true" data-multi-expand="true">
          <li class="tabs-title is-active"><a href="#vendredi" aria-selected="true">Vendredi - 7.9</a></li>
          <li class="tabs-title"><a href="#samedi">Samedi - 8.9</a></li>
          <li class="tabs-title"><a href="#dimanche">Dimanche - 9.9</a></li>
          <div class="slide"></div>
        </ul>

        <div class="tabs-content" data-tabs-content="collapsing-tabs">
          <div class="tabs-panel vendredi is-active" id="vendredi">
            <div class="movie-item">
              <img class="movie-poster" src="/themes/custom/fisheye_theme/images/busan.jpg">
              <div class="movie-info">
                <div class="movie-title">Dernier train pour Busan</div>
                <div class="movie-director-yountry">Sang-Ho Yeon (Corée du Sud)</div>
                <div class="movie-genre">Action, Epouvante-horreur, Thriller</div>
                <div class="movie-hour-date">20:00 - 7.9.18</div>
                <div class="movie-location">Pensionat de La Chassotte - Givisiez</div>
                <div class="movie-resume">Un virus inconnu se répand en Corée du Sud, l'état d'urgence est décrété. Les passagers du train KTX se livrent à une lutte sans merci afin de survivre jusqu'à Busan, l'unique ville où ils seront en sécurité...</div>
                <a href="/programme/busan" class="button secondary movie-buy">Réserver</a>
              </div>
            </div>

            <div class="movie-item">
              <img class="movie-poster" src="/themes/custom/fisheye_theme/images/mademoiselle.jpg">
              <div class="movie-info">
                <div class="movie-title">Mademoiselle</div>
                <div class="movie-director-yountry">Park Chan-Wook (Corée du Sud)</div>
                <div class="movie-genre">Drame, Romance, Thriller</div>
                <div class="movie-hour-date">23:00 - 7.9.18</div>
                <div class="movie-location">Pensionat de La Chassotte - Givisiez</div>
                <div class="movie-resume">Corée. Années 30, pendant la colonisation japonaise. Une jeune femme (Sookee) est engagée comme servante d’une riche japonaise (Hideko), vivant recluse dans un immense manoir sous la coupe d’un oncle tyrannique. Mais Sookee a un secret. Avec l’aide d’un escroc se faisant passer pour un comte japonais, ils ont d’autres plans pour Hideko…</div>
                <a href="/programme/mademoiselle" class="button secondary movie-buy">Réserver</a>
              </div>
            </div>
          </div>


          <div class="tabs-panel samedi" id="samedi">
            <div class="movie-item">
              <img class="movie-poster" src="/themes/custom/fisheye_theme/images/neondemon.jpg">
              <div class="movie-info">
                <div class="movie-title">The Neon Demon</div>
                <div class="movie-director-yountry">Nicolas Winding Refn (Danemark)</div>
                <div class="movie-genre">Thriller, Epouvante-horreur</div>
                <div class="movie-hour-date">19:00 - 8.9.18</div>
                <div class="movie-location">Route de la Pisciculture (carrière) - Fribourg</div>
                <div class="movie-resume">Une jeune fille débarque à Los Angeles. Son rêve est de devenir mannequin. Son ascension fulgurante et sa pureté suscitent jalousies et convoitises. Certaines filles s’inclinent devant elle, d'autres sont prêtes à tout pour lui voler sa beauté.</div>
                <a href="/programme/neondemon" class="button secondary movie-buy">Réserver</a>
              </div>
            </div>

            <div class="movie-item">
              <img class="movie-poster" src="/themes/custom/fisheye_theme/images/lure.jpg">
              <div class="movie-info">
                <div class="movie-title">The Lure</div>
                <div class="movie-director-yountry">Agnieszka Smoczynska (Pologne)</div>
                <div class="movie-genre">Comédie musicale, Epouvante-horreur</div>
                <div class="movie-hour-date">23:00 - 8.9.18</div>
                <div class="movie-location">Route de la Pisciculture (carrière) - Fribourg</div>
                <div class="movie-resume">Deux soeurs sirènes, travaillant dans un nightclub, doivent affronter de bien cruelles et sanglantes décisions lorsque l'une d'elles tombent amoureuse d'un beau jeune homme.</div>
                <a href="/programme/lure" class="button secondary movie-buy">Réserver</a>
              </div>
            </div>
          </div>

          <div class="tabs-panel dimanche" id="dimanche">
            <div class="movie-item">
              <img class="movie-poster" src="/themes/custom/fisheye_theme/images/grave.jpg">
              <div class="movie-info">
                <div class="movie-title">Grave</div>
                <div class="movie-director-yountry">Julia Ducournau (France)</div>
                <div class="movie-genre">Epouvante-horreur, Drame</div>
                <div class="movie-hour-date">20:00 - 9.9.18</div>
                <div class="movie-location">Abattoirs Poya - Fribourg</div>
                <div class="movie-resume">Dans la famille de Justine tout le monde est vétérinaire et végétarien. À 16 ans, elle est une adolescente surdouée sur le point d’intégrer l’école véto où sa sœur ainée est également élève. Mais, à peine installés, le bizutage commence pour les premières années. On force Justine à manger de la viande crue. C’est la première fois de sa vie. Les conséquences ne se font pas attendre. Justine découvre sa vraie nature.</div>
                <a href="/programme/grave" class="button secondary movie-buy">Réserver</a>
              </div>
            </div>
            <div class="movie-item">
              <img class="movie-poster" src="/themes/custom/fisheye_theme/images/canine.jpg">
              <div class="movie-info">
                <div class="movie-title">Canine</div>
                <div class="movie-director-yountry">Yórgos Lánthimos (Grèce)</div>
                <div class="movie-genre">Drame</div>
                <div class="movie-hour-date">23:00 - 9.9.18</div>
                <div class="movie-location">Abattoirs Poya - Fribourg</div>
                <div class="movie-resume">Le père, la mère et leurs trois enfants vivent dans les faubourgs d'une ville. Leur maison est bordée d'une haute clôture. Les enfants n'ont jamais franchi la clôture. Leur éducation, leurs loisirs, leurs amusements, leur ennui, leur entraînement physique se conforment au modèle imposé par les parents, en l'absence de toute empreinte du monde extérieur. Les enfants pensent que les avions qui volent au-dessus de la maison sont des jouets et les zombies, des petites fleurs jaunes. </div>
                <a href="/programme/canine" class="button secondary movie-buy">Réserver</a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    {{ page.content }}
  </div>

</main>
</div>{# /.layout-container #}
